*{
    margin: 0px;
    padding: 0px;
    font-family: segoe UI;
}


.box{
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#40E0D0; 
    margin-left: 10%;
}


.p1{
    padding: 20px;
}

.h1{
    height: 50px;
    width: 100%;
    background-color:#574BE0;
    display: flex;
    justify-content: space-between;
}



.c1{
    width: 100%;
     background-color:#FCF50D; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.opened{
    display: none;
}

.card{
    height: 300px;
    width: 18%;
    background-color:#C955D1;
    margin-top: 20px;
    background-size: cover;
    margin-bottom:20px;
}
.overlay{
    height: 300px;
    width: 100%;
    background-color:#AADDF5;

} 