*{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 70px;
    width: 100%;
    background-color: rgba(18, 3, 59, 0.788);
    display:flex;
    justify-content: center;
    position: fixed;

}
.box{
    width: 90%;
    /*background-color: red;*/
    display:flex; 

}

.logo{
    height: 60px;
    width: 10%;
   /* background-color: rgba(18, 160, 179, 0.788);*/
 font-family:segoe UI;
 text-align: center;
 font-weight: bold;
font-size: 22px;
 color:rgb(226, 213, 213);
 line-height: 70px;

}


.nav{
    height: 70px;
    width: 50%;
    display:flex;
    background-color: green;
}
    .header_box{
        justify-content: space-between;
    }
.nav-item{
    height: 70px;
    width: 20%;
    background-color: rgba(39, 13, 155, 0.788);
    font-family:fantasy;
    color: rgb(109, 204, 20);
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    transition: .4s;

}


.nav-item:hover{
    background-color: cornsilk;
color:rgba(16, 128, 234, 1);
}
.banner{
    height: 700px;
    width: 100%;
    background-color: crimson;
    background-image: url('./images/download\ \(5\).jpg');
    background-size: cover;
}

.bantxtbck{
    height: 700px;
    width: 100%;
    background-color:rgba(218, 62, 158, 0.4);
    display: flex;
    align-items:center;
}
.bantxt{
    height: 350px;
    width: 50%;
    background-color:rgba(221, 11, 11, 0.54);
    font-family: segeo UI;
    display: flex;
    align-items:center;
}
.hdtit
{
    font-size: 50px;
    margin-bottom: 10px;
}
.padd{
    padding: 20px;
    /*background-color:rgb(86, 9, 185);*/

}
.spc1{
    margin-bottom: 30px;
}
.btn1
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: segeo UI;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid white;
    margin-top: 30px;
    cursor: pointer;
    transition: .5s;
}
.btn1:hover{
    background-color: whitesmoke;
    color: rgb(243, 23, 126,1);
}
.s1{
    padding-top: 30;
    padding-bottom: 30;
    background-color:rosybrown;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family:'Times New Roman';
}
.sc1{
    margin-top: 50px;
    display: inline-flex;
    justify-content: space-between;
}
.serv{
    height: 250px;
    width: 20%;
    background-color: red;
    
}
.serv_img{
width: 100%;
height: 170px;
background-color: green;
display:flex;
overflow: hidden;
}
.serv_detail{
    width: 100%;
    height: 80px;
    background-color:lightcoral;
    display:flex;
    }
.p1{
    padding: 2px;
}
.b1{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: segeo UI;
    font-weight: bold;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid white;
    margin-top: 30px;
    cursor: pointer;
    transition: .5s;
}
.b1:hover{
    background-color: whitesmoke;
    color: rgb(243, 23, 126,1);
}
.abt{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:seashell;
    display:flex;
    flex-direction: column;
    font-family: segeo UI;
    align-items: center;
}
.abt_c{
margin-top: 20px;
background-color: rgb(196, 88, 151);
line-height: 25px;

}
.st{
    height: 20px;
    font-size: 35px;
    color:midnightblue;
}
.high{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:lightpink;
   width: 100%;
   display: flex;
   justify-content: center;
}
.highc
{
    justify-content: space-between;
}
    

.hele{
    height: 150px;
    width: 20%;
    background-color:lightcoral;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
    text-align: center;
    color:indigo;
}
.cmt{
    padding-top: 30;
    padding-bottom: 30;
    width: 100%;
    background-color:rosybrown;
    display: flex;
    justify-content: center;
}
.cmtc{
flex-direction: column;
align-items: center;
}
.b2{
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 5px;
font-family: segeo UI;
font-weight: bold;
font-size: 20px;
background-color: transparent;
border: 2px solid powderblue;
margin-top: 30px;
cursor: pointer;
transition: .5s;
}
.b2:hover{
background-color:powderblue;
color:rebeccapurple;
}
.p1{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:palevioletred;
    font-family:cursive;
}
.p1c{
    flex-wrap: wrap;
    margin-top: 30px;
}
.g1{
    width: 25%;
    height: 200px;
    background-color: red;
}
.gt1{
    background-image: url('images/images\ \(10\).jpg');
    background-size: cover;
}
.gt2{
    background-image: url('images/images\ \(1\).jpg');
    background-size: cover;
}
.gt3{
    background-image: url('images/images\ \(2\).jpg');
    background-size: cover;
}
.gt4{
    background-image: url('images/images\ \(3\).jpg');
    background-size: cover;
}
.gt5{
    background-image: url('images/images\ \(4\).jpg');
    background-size: cover;
}
.gt6{
    background-image: url('images/images\ \(5\).jpg');
    background-size: cover;
}
.gt7{
    background-image: url('images/images\ \(6\).jpg');
    background-size: cover;
}
.gt8{
    background-image: url('images/images\ \(8\).jpg');
    background-size: cover;
}
.pro1{
    color:black;
    width: 100%;
    height: 70px;
    text-indent: 10px;
    line-height: 100px;
    background-color:rgb(226, 213, 213,.5);
    cursor: pointer;
    overflow: hidden;
}
.pro1:hover{
    height: 250px;
}
.fot{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:chocolate;
    display: flex;
    justify-content: center;
    align-content: center;
}
.footc{
    height:160px;
    width: 25%;
    background-color:burlywood;
    font-family: segeo UI;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footc1{
    display: flex;
    justify-content: center;
    align-items: center;
    color:cornsilk;
    font-size: 30px;
}
li{
    list-style-type: none;
    margin-bottom: 8px;
    color: cornsilk;
}
.one{
    font-size: 20px;

}
.footc4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.soc1{
    width: 80%;
    justify-content: space-between;
}
.soc2{
    height: 50px;
    width: 70px;
    background-color: cornsilk;
    background-size: cover;
}
.soc31{
 background-image: url('images/fb.png');
}
.soc32{
    background-image: url('images/gl.png');
}
.soc33{
    background-image: url('images/ins.png');
}
.soc34{
    background-image: url('images/ln\ \(1\).png');
}